# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Plat-dot-NET-33INF-SSI-SP_LAB_01_Wojciech_Paradziński.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
